body{
    width: 1440px;
    margin: 0px;
    padding: 0px;
    font-family: 'Bai Jamjuree';
    background-image: url(images/bg-header-desktop.png);
    background-size: 105%;
    background-repeat: no-repeat;
    font-size: 18px;
}

#logo{
    margin: 150px 40px 30px 50%;
}

p {
    line-height: 1.5;
    color: hsl(201, 11%, 66%);
}

.history-section{
    text-align: center;
    width: 625px;
    margin-left: 33%;
}

h1{
    color: hsl(210, 10%, 33%);
    text-align: center;
    font-size: 40px;
    margin-bottom: -5px;
}

h2{
    color: hsl(210, 10%, 33%);
}

h3{
    color: hsl(210, 10%, 33%);
}

.history-section p.download-ios{
    display: inline-block;
    color: hsl(0, 100%, 100%);
    background-color: hsl(171, 66%, 44%);
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    box-shadow: 0px 3px 1px hsl(171, 66%, 35%);
    cursor: pointer;
}

.history-section p.download-mac{
    display: inline-block;
    margin-left: 10px;
    color: hsl(0, 100%, 100%);
    background-color: hsl(233, 100%, 69%);
    padding: 10px;
    width: 200px;
    border-radius: 50px;
    box-shadow: 0px 3px 1px hsl(233, 100%, 62%);
    cursor: pointer;
}

.snippets-section{
    text-align: center;
    width: 700px;
    margin: 150px 0px 100px 31%;
}

.computer-container{
    display: block;
}

.computer-text{
    display: inline-block;
    width: 400px;
    margin-left: 150px;
}

.computer-text p{
    margin-bottom: 60px;
    color: hsl(201, 11%, 66%);

}

.computer-text h3 {
    line-height: 0;
    color: hsl(210, 10%, 33%);
}

.access-section{
    text-align: center;
    width: 700px;
    margin: 90px 0px 100px 31%;
}

#devices-img{
    align-content: center;
    margin-left: 22%;
}

.workflow-section{
    text-align: center;
    width: 700px;
    margin: 80px 0px 100px 28%;
}

.container-tools{
    text-align: center;
    display: flex;
    justify-content: space-around;
}

#first-tool{
    width: 400px;
    margin-left: 60px;
    margin-top: -9px;
}

#second-tool{
    width: 400px;
    margin-left: -60px;
}

#third-tool{
    width: 400px;
    margin-left: -60px;
}

.logo{
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    margin-left: 60px;
}

.clipboard-section{
    text-align: center;
    width: 700px;
    margin: 170px 0px 100px 28%;
}

.clipboard-section p.download-ios{
    display: inline-block;
    color: hsl(0, 100%, 100%);
    background-color: hsl(171, 66%, 44%);
    padding: 10px;
    width: 200px;
    border-radius: 50px;
        text-align: center;
    box-shadow: 0px 3px 1px hsl(171, 66%, 35%);
    cursor: pointer;
}

.clipboard-section p.download-mac{
    display: inline-block;
    margin-left: 10px;
    color: hsl(0, 100%, 100%);
    background-color: hsl(233, 100%, 69%);
    padding: 10px;
    width: 200px;
    border-radius: 50px;
        text-align: center;
    box-shadow: 0px 3px 1px hsl(233, 100%, 62%);
    cursor: pointer;
}

footer{
    background-color: hsl(201, 11%, 96%);
}

.footer{
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
    width: 700px;
    margin-left: 280px;
}

.footer p {
    color: hsl(210, 10%, 33%);
}

#logo-menor{ 
    position: absolute;
    transform: translate(200px, -100px);
}

.attribution { 
    font-size: 11px;
    text-align: center;
    color: hsl(0, 100%, 0%);
}
    
.attribution a {
    color: hsl(228, 45%, 44%);
}